{% extends 'user_management/base.html' %}
{% block title %}update user{% endblock title %}
{% block body %}
<div class="card">
    <div class="card-body">
        <h5 class="card-title">User edit form</h5>
        <h6 class="card-subtitle mb-2 text-muted"><strong>Module: </strong>User management</h6>
        <hr>
        <form action="">
            {% if CustomUserMainForm %}
                {% csrf_token %}
                {% for field in CustomUserMainForm %}
                    {% if field.auto_id != 'id_password' and field.auto_id != 'id_username' %}
                        <div class='mb-3'>
                            <label for="{{field.auto_id}}">{{field.label}}:</label>
                            {{field}}
                            {% if field.help_text %}
                                <div id="{{field.auto_id}}_helptext" class="form-text">
                                    {{field.help_text}}
                                </div>
                            {% endif %}
                            {% if field.errors %}
                                {% for error in field.errors %}
                                    {{error}}
                                {% endfor %}
                            {% endif %}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
            <div class='mb-2'>
                <button class='btn btn-primary' type='button' onclick='submitForm({{user2update.id}})'>Submit</button>
                <a href='{% url "user_management:user_disable_view" user2update.id %}' class='btn btn-danger'>Disable user</a>
            </div>
        </form>
    </div>
</div>
<script>
    function submitForm(user_id){
        const isStaffCheckbox = document.getElementById('id_is_staff');
        data = {
            first_name: document.getElementById('id_first_name').value,
            last_name: document.getElementById('id_last_name').value,
            email: document.getElementById('id_email').value,
            phone_number: document.getElementById('id_phone_number').value,
            gender: document.getElementById('id_gender').value,
            is_staff: isStaffCheckbox.checked
        }

        ProtectRequest('/user_management/user_update/'+user_id+'/','PUT',data)
        .then(response => {
            if (response.request_status) {
                alert('User has been updated correctly.')
            }else{
                if (response.form_errors){
                    msg = ''
                    errors = response.form_errors
                    for(const property in errors) {
                        msg+=`${property}: ${errors[property]} \n`
                    }
                    alert(msg)
                }else{
                    alert('Error: ' + JSON.stringify(response.error_msg));
                }
            }
        })
        .catch(error => {
            console.error('Request failed:', error);
        });
    }
</script>
{% endblock body %}